
@using PersonInformation.Controllers

@{
    ViewBag.Title = "Input";
}

<h2>Input person information</h2>
<script src = "~/Scripts/jquery.validate.js"></script>

@using (Html.BeginForm("Input","Person",FormMethod.Post))
{

    <div>
        <td style="width: 40px">
            Name
        </td>
        <td>
            <input class="form-control" type="text" name="personname" id="name" value="" required=""/>
        </td>
    </div>
    <br/>

    <div>
        <td style="width: 40px">
            Email
        </td>
        <td>
            <input class="form-control" type="text" name="personemail" id="email" value="" required=""/>
        </td>
    </div>
    <br />

    <div>
        <td style="width: 40px">
            Mobile
        </td>
        <td>
            <input class="form-control" type="text" name="personmobile" id="mobile" value="" required=""/>
        </td>
    </div>
    <br />

    <div>
        <td style="width: 40px">
            Address
        </td>
        <td>
            <input class="form-control" type="text" name="personaddress" id="address" value="" required=""/>
        </td>
    </div>
    <br />


    <div> 
        <button class="btn btn-info" type="submit">Submit</button>

        <button class="btn btn-info" type="button"
                onclick="location.href = '@Url.Action("Showinfo", "Person")'">View page</button>
    </div>

    <br />
    <p>@ViewBag.message</p>

}
